.weatherCard {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background: var(--color-highlight-bg);
}

.mainRow {
    text-align: left;
    margin-bottom: 20px;
}

.mainTime {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondaryRow {
    display: flex;
}

.secondaryRow.mb {
    border-bottom: 1px solid var(--color-divider);
}

.areaChartRow {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.mainChart {
    overflow-x: scroll;
    margin-bottom: 30px;
}

.customTooltip {
    height: 50px;
    width: 40px;
    padding: 10px;
    background: var(--color-highlight);
    border: 2px solid var(--color-primary);
    opacity: 0.9;
}

.chartTitle {
    color: var(--color-primary);
    font-weight: 600;
    text-transform: uppercase;
}