.search {
    margin-bottom: 30px;
    position: relative;
}

.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 15px;
    box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);
}

.searchbar {
    width: 90%;
    height: 50px;
    border: none;
    outline: 0;
    font-size: 14px;
    margin: 0 10px;
}

.searchContainer:focus-within {
    border: 1px solid #3AABEA;
}

.inputIcon {
    height: 22px;
}

.cityContainer {
    position: absolute;
    width: 100%;
    background: #fff;
    margin-top: 1px;
    box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    z-index: 2;
}

.cityData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 35px;
    border-bottom: 1px solid #B9B9BA;
}

.cityWeather {
    display: flex;
    align-items: center;
}