.weatherCard {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);
}

.mainRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.secondaryRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.areaChartRow {
    display: flex;
    justify-content: space-between;
}

.blueBox {
    width: 38%;
    background: #F5FAFF;
    padding: 10px 15px;
    text-align: left;
}

.mainChart {
    overflow-x: scroll;
    margin-bottom: 20px;
}