.days {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    overflow-x: auto;
}

.dayCard {
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    flex: 0 0 auto;
    border: 2px solid var(--color-border-placeholder);
    cursor: pointer;
}

.dayActive {
    border: 2px solid var(--color-primary);
    background: var(--color-secondary);
}

.notClickable {
    cursor: not-allowed;
}