.header {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    background: var(--color-bg);
}

.toggleIcon {
    cursor: pointer;
    height: 60px;
    display: block;
    margin-bottom: 20px;
}

.gitIcon {
    width: 60px;
    transition: all .3s ease-in-out;
}

.gitIcon:hover {
    transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 1024px) {
    .header {
        top: 0px;
        right: 0px;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .toggleIcon {
        margin: 20px 0 0 20px;
    }

    .gitLink {
        margin: 20px 20px 0 0;
        margin-right: 20px;
        margin-top: 20px;
    }
}