:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #fff;
  --color-text-primary: #000;
  --color-text-secondary: #666667;
  --color-primary: #3aabea;
  --color-divider: #bdbdbd;
  --color-highlight: #fffdf5;
  --color-highlight-bg: #fff;
  --color-search-bg: #fff;
  --color-backgroundColor: #f5f6f7;
  --color-foregroundColor: #eee;
  --color-border-placeholder: var(--color-bg);
}
