.ml-0 {
    margin-left: 0px;
}

.ml-3 {
    margin-left: 3px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.smallIcon {
    height: 24px;
}

.mediumIcon {
    height: 24px;
}

.bigIcon {
    height: 50px;
    margin-left: 20px;
}

.bigText {
    font-size: 50px;
}

.smallText {
    font-size: 12px;
}

.boldText {
    font-family: 'HomepageBaukastenBold';
}

.toggleIcon {
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.secondaryTextColor {
    color: var(--color-text-secondary)
}