body {
  background: var(--color-bg);
  color: var(--color-text-primary);
}

.app {
  text-align: center;
  margin: 40px auto;
  max-width: 750px;
}

@media only screen and (max-width: 1024px) {
  .app {
    margin: 120px 20px 0 20px;
  }
}