.app {
  text-align: center;
  margin: 20px;
}

@media only screen and (min-width: 750px) {
  .app {
    max-width: 750px;
    margin: 20px auto;
  }
}

.bigText {
  font-size: 50px;
  font-family: 'HomepageBaukastenBold';
}

.smallText {
  font-size: 13px;
}

.boldText {
  font-family: 'HomepageBaukastenBold';
}

.grayText {
  color: #666667
}

.smallIcon {
  height: 24px;
}

.mediumIcon {
  height: 24px;
}

.bigIcon {
  height: 50px;
  margin-left: 20px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}