body {
  background: var(--color-bg);
  color: var(--color-text-primary);
}

.app {
  text-align: center;
  margin: 20px;
}

@media only screen and (min-width: 750px) {
  .app {
    max-width: 750px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 1024px) {
  .app {
    margin-top: 100px
  }
}